body {
    background-color: #39517D;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    height: 100%;
    place-items: center;
}
.wrapper {
    display: inline-block;
}
.text {
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    width: 106%;
    text-transform: uppercase;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(19) infinite,
        cursor .4s step-end;
}
@keyframes cursor {
    50% { border-color: transparent;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}
h1 {
    text-align: center;
    width: 262px;
    color: white;
    background-color: black;
    margin-left: 110px;
    margin-top: -50px;
    border-radius: 10px;
}
img#logosdc {
    width: 102px;
}
main {
    background-image: linear-gradient(to top, #FFBA03, #FFCC03);
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.bloco1 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.bloco11 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.bloco12 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.bloco13 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.bloco14 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.bloco15 {
    background-color: black;
    border-radius: 10px;
    margin-top: 68px;
    width: 80px;
    height: 74px;
}
.mes {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
}
.mes1 {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
    margin-top: -72px;
    margin-left: -286px;
}
.mes2 {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
    margin-top: -72px;
    margin-left: -286px;
}
.mes3 {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
    margin-top: -72px;
    margin-left: -286px;
}
.mes4 {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
    margin-top: -72px;
    margin-left: -286px;
}
.mes5 {
    color: #D32B3C;
    font-weight: bolder;
    text-align: center;
    margin-top: -72px;
    margin-left: -286px;
}
.dia {
    font-size: large;
    font-weight: 900;
    margin: -20px;
    font-size: 48px;
    color: white;
    text-align: center;
}
.dia1 {
    font-size: large;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: -272px;
    margin-top: -24px;
}
.dia2 {
    font-size: large;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: -286px;
    margin-top: -24px;
}
.dia3 {
    font-size: large;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: -290px;
    margin-top: -24px;
}
.dia4 {
    font-size: large;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: -286px;
    margin-top: -24px;
}
.dia5 {
    font-size: large;
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: -286px;
    margin-top: -24px;
}
.bloco2 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -88px;
    margin-left: 93px;
    height: 74px;
}
.bloco21 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -127px;
    margin-left: 93px;
    height: 94px;
}
.bloco22 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -127px;
    margin-left: 93px;
    height: 74px;
}
.bloco23 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -127px;
    margin-left: 93px;
    height: 74px;
}
.bloco24 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -127px;
    margin-left: 93px;
    height: 94px;
}
.bloco25 {
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: -127px;
    margin-left: 93px;
    height: 74px;
}
p {
    font-weight: bold;
    font-family: sans-serif;
}